<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <form action="#" class="goods-search">
                <input class="search-input" type="text" v-model="searchLine">
                <button class="search-button" @click="filter">Искать</button>
            </form>
            <button class="cart-button" @click="toggleCart"
                    v-bind:class="{'cart-button-shown': isCartShown}">
                Корзина
            </button>
        </header>
        <main>
            <div class="goods-list">
                <div class="goods-item" v-for="good in filteredGoods">
                    <h3>{{ good.product_name }}</h3>
                    <img :src="good.image">
                    <p>{{ good.price }}</p>
                </div>
                <h1 class="no-data" v-if="!filteredGoods.length">
                    Нет данных
                </h1>
            </div>
            <div class="cart" v-if="isCartShown">
                <div class="arrow">

                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>