
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

main {
  flex: 1 0 auto;
  padding: 0 30px;
}

header {
  display: flex;
  justify-content: center;
  background: lightgrey;
  padding: 15px;

  .goods-search {
    width: 35%;
  }

  .search-input {
    width: calc(100% - 70px);
    margin-right: 20px;
  }

  .search-button {
    width: 70px;
  }
}

.cart-button {
  margin-left: auto;
  padding: 5px 7px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 1px 5px #000;

  &:focus {
    outline: 0;
  }
}

.cart-button-shown {
  box-shadow: none;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
}

.goods-item {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border: 1px solid #000;
  margin: 30px;
  padding: 10px;

  img {
    width: 300px;
    height: 300px;
  }

  .button-item-add {
    margin-left: auto;
  }
}

.cart {
  position: absolute;
  width: 400px;
  height: 200px;
  background: #fff;
  border: 1px solid #bbb;
  top: 60px;
  right: 0;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);

  .arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 35px;
    top: -11px;
    transform: rotate(45deg);
    background: #fff;
    border: 1px solid #bbb;
    border-bottom-width: 0;
    border-right-width: 0;
  }

  .close-cart {
    -webkit-appearance: none;
    background: none;
    border: none;
    position: absolute;
    outline: none;
    right: 5px;
    top: 10px;
  }
}

footer {
  flex: 0 0 auto;
  background: darkgrey;
  padding-left: 20px;
  // min-height: 50px;

  h2 {
    color: #fff;
  }

  input {
    padding: 2px;
    margin-bottom: 5px;
  }

  .feedback {
    margin-bottom: 30px;
  }

  [data-error] {
    color: rgb(209, 15, 15);

    input {
      border: 1px solid #f00;
    }
  }

  [data-error]:after {
    content: attr(data-error);
  }
}


@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner {
  position: relative;
}
.lds-spinner div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: #28292f;
  width: 12px;
  height: 24px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 52px;
  transform-origin: 6px 52px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.916666666666667s;
  animation-delay: -0.916666666666667s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.416666666666667s;
  animation-delay: -0.416666666666667s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.083333333333333s;
  animation-delay: -0.083333333333333s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}