html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  height: 100%;
}
header {
  display: flex;
  justify-content: center;
  background: lightgrey;
  padding: 15px;
}
header .goods-search {
  width: 35%;
}
header .search-input {
  width: calc(30%);
  margin-right: 20px;
}
header .search-button {
  width: 70px;
}
.cart-button {
  margin-left: auto;
  padding: 5px 7px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 0 1px 5px #000;
}
.cart-button:active {
  box-shadow: none;
}
.goods-list {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.goods-item {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: calc(25%);
  border: 1px solid #000;
  margin: 30px;
  padding: 10px;
}
.goods-item img {
  width: 300px;
  height: 300px;
}
.goods-item .button-item-add {
  margin-left: auto;
}
footer {
  background: darkgrey;
  padding-left: 20px;
}
footer h2 {
  color: #fff;
}
footer input {
  padding: 2px;
  margin-bottom: 5px;
}
footer .feedback {
  margin-bottom: 30px;
}
footer [data-error] {
  color: #d10f0f;
}
footer [data-error] input {
  border: 1px solid #f00;
}
footer [data-error]:after {
  content: attr(data-error);
}
